<h1>Flight Management Dashboard</h1>
<div class="dashboard-container">
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="#">FlightBooking Dashboard</a>
    </div>
    <div class="navbar-menu">
      <button class="nav-button" (click)="setActiveSection('addFlight')">Add Flight</button>
      <button class="nav-button" (click)="setActiveSection('viewAllFlights')">View All Flights</button>
      <button class="nav-button" (click)="setActiveSection('updateFlight')">Update Flight</button>
      <button class="nav-button" (click)="setActiveSection('cancelFlight')">Cancel Flight</button>
      <button class="nav-button" (click)="clickHandler($event)">Logout</button>
    </div>
  </nav>
  
  <!-- *ngIf="activeSection === 'home'" -->
  <div class="hero" >
    <div class="hero-text">
      <h1>Flight Management</h1>
      <p>Manage and add new flights easily.</p>
    </div>
  </div>

  <div class="form-container" *ngIf="activeSection === 'addFlight'">
    <h2>Add a New Flight</h2>
    <form (ngSubmit)="addFlight()">
      <div class="form-group">
        <label for="flightId">Flight Id:</label>
        <input type="number" id="flightId" [(ngModel)]="flight.flightId" name="flightId" required>
      </div>
      <div class="form-group">
        <label for="flightName">Flight Name:</label>
        <input type="text" id="flightName" [(ngModel)]="flight.flightName" name="flightName" required>
      </div>
      <div class="form-group">
        <label for="totalSeats">Total Seats:</label>
        <input type="number" id="totalSeats" [(ngModel)]="flight.totalSeats" name="totalSeats" required>
      </div>
      <div class="form-group">
        <label for="source">Source:</label>
        <input type="text" id="source" [(ngModel)]="flight.source" name="source" required>
      </div>
      <div class="form-group">
        <label for="destination">Destination:</label>
        <input type="text" id="destination" [(ngModel)]="flight.destination" name="destination" required>
      </div>
      <div class="form-group">
        <label for="date">Date:</label>
        <input type="date" id="date" [(ngModel)]="flight.date" name="date" required>
      </div>
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" id="price" [(ngModel)]="flight.price" name="price" required>
      </div>
      <div class="form-group">
        <label for="departure">Departure Time:</label>
        <input type="time" id="departure" [(ngModel)]="flight.departure" name="departure" required>
      </div>
      <div class="form-group">
        <label for="arrival">Arrival Time:</label>
        <input type="time" id="arrival" [(ngModel)]="flight.arrival" name="arrival" required>
      </div>
      <button type="submit" class="btn-submit">Add Flight</button>
    </form>
  </div>

  <div *ngIf="activeSection === 'viewAllFlights'">
    <!-- View All Flights Content Here -->
    <h3 class="mb-4">All Flights</h3>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Total Seats</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Date</th>
            <th>Price</th>
            <th>Departure</th>
            <th>Arrival</th>
            <th>Available Seats</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let flight of flightList">
            <td>{{flight.flightId}}</td>
            <td>{{flight.flightName}}</td>
            <td>{{flight.totalSeats}}</td>
            <td>{{flight.source}}</td>
            <td>{{flight.destination}}</td>
            <td>{{flight.date}}</td>
            <td>{{flight.price}}</td>
            <td>{{flight.departure}}</td>
            <td>{{flight.arrival}}</td>
            <td>{{flight.avilableSeats}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

<!-- Update Flight Section -->
<div *ngIf="activeSection === 'updateFlight'">
  <h2>Update Flight</h2>
  <form (ngSubmit)="updateFlight()">
    <div class="form-group">
      <label for="updateFlightId">Flight Id:</label>
      <input type="number" id="updateFlightId" [(ngModel)]="updateFlightId" name="updateFlightId" required>
    </div>
    <button type="submit" class="btn-submit">Update Flight</button>
    
    <div *ngIf="flightObj">
      <div class="form-group">
        <label for="flightName">Flight Name:</label>
        <input type="text" id="flightName" [(ngModel)]="flightObj.flightName" name="flightName" required>
      </div>
      <div class="form-group">
        <label for="totalSeats">Total Seats:</label>
        <input type="number" id="totalSeats" [(ngModel)]="flightObj.totalSeats" name="totalSeats" required>
      </div>
      <div class="form-group">
        <label for="source">Source:</label>
        <input type="text" id="source" [(ngModel)]="flightObj.source" name="source" required>
      </div>
      <div class="form-group">
        <label for="destination">Destination:</label>
        <input type="text" id="destination" [(ngModel)]="flightObj.destination" name="destination" required>
      </div>
      <div class="form-group">
        <label for="date">Date:</label>
        <input type="date" id="date" [(ngModel)]="flightObj.date" name="date" required>
      </div>
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" id="price" [(ngModel)]="flightObj.price" name="price" required>
      </div>
      <div class="form-group">
        <label for="departure">Departure Time:</label>
        <input type="time" id="departure" [(ngModel)]="flightObj.departure" name="departure" required>
      </div>
      <div class="form-group">
        <label for="arrival">Arrival Time:</label>
        <input type="time" id="arrival" [(ngModel)]="flightObj.arrival" name="arrival" required>
      </div>
      <div class="form-group">
        <label for="avilableSeats">avilableSeats: </label>
        <input type="number" id="avilableSeats" [(ngModel)]="flightObj.avilableSeats" name="avilableSeats" required>
      </div>


      <button type="submit" class="btn-submit">Save Changes</button>
    </div>



  </form>
  <div *ngIf="updateMessage" class="message">{{ updateMessage }}</div>
</div>


  <div *ngIf="activeSection === 'cancelFlight'" class="delete-flight-section">
    <div class="form-container">
      <h2>Delete a Flight</h2>
      <form (ngSubmit)="deleteFlight()">
        <div class="form-group">
          <label for="flightId">Enter Flight ID to Delete:</label>
          <input type="number" id="deleteFlightId" [(ngModel)]="deleteFlightId" name="deleteFlightId" required>
        </div>
        <button type="submit" class="btn-submit">Delete Flight</button>
        <div *ngIf="deleteMessage" class="delete-message">
          <p>{{ deleteMessage }}</p>
        </div>
      </form>
    </div>
  </div>
  


</div>
