<p>home works!</p>
<div class="app-container">
    
    <div class="hero">
      <img src="/assets/flight image 2.jpg" alt="Flight Image" class="hero-img">
      <!-- <div class="hero-text">
        <h1>Welcome to Flight Booking System</h1>
        <p>Our Online Flight Booking System is designed to provide a seamless and user-friendly booking experience that saves both time and effort. The system is intuitive to navigate, catering to both tech-savvy users and those less familiar with online booking platforms. Passengers can effortlessly search for flight options, view schedules, and compare fares. Detailed information about each flight, including departure and arrival times, layovers, and available amenities, is provided to help customers make informed decisions based on their preferences and needs.</p>
      </div> -->
    </div>
  
    <div class="content">

        <div>
            <h1>Welcome to Flight Booking System</h1>
            <p>Our Online Flight Booking System is designed to provide a seamless and user-friendly booking experience that saves both time and effort. The system is intuitive to navigate, catering to both tech-savvy users and those less familiar with online booking platforms. Passengers can effortlessly search for flight options, view schedules, and compare fares. Detailed information about each flight, including departure and arrival times, layovers, and available amenities, is provided to help customers make informed decisions based on their preferences and needs.</p>
          </div>
    

      <h2>Real-time Availability and Instant Confirmation</h2>
      <p>
        One standout feature of our Online Flight Booking System is its real-time availability functionality, which allows travelers to access live and up-to-date information on seat availability for their desired flights. This feature enables users to choose the most suitable departure time and class of service, avoiding disappointment from sold-out flights and optimizing their travel planning.
  
        Furthermore, our system provides instant confirmation of bookings. Users receive immediate confirmation emails or notifications upon completing their reservations. This feature assures customers that their tickets are secured and ready for travel, eliminating uncertainty and allowing them to proceed confidently with their plans.
      </p>
    </div>
  </div>
  